opentelemetry-api==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-exporter-otlp==1.20.0
opentelemetry-instrumentation-fastapi==0.40b0
opentelemetry-instrumentation-requests==0.40b0
opentelemetry-instrumentation-logging==0.40b0
opentelemetry-instrumentation==0.40b0
fastapi==0.101.1
uvicorn==0.23.2
pydantic==2.1.1
pillow==10.0.0
torch==2.0.1
torchvision==0.15.2
numpy==1.25.2
python-multipart==0.0.6
